body{
    background-image: url(annie-spratt-0ZPSX_mQ3xI-unsplash.jpg);
}

.c{ position: absolute;
    top: 20px;
    left: 50%;
    color: rgb(2, 2, 16);
    text-decoration: underline;
    text-decoration-color:aquamarine;
    text-underline-offset: 10px;
    

}

.img{
    position: relative;
    top: 20%;
    width: 35%;
    height: 50%;
    border: 1px solid black;
    border-radius: 10px;
    /*display: inline-block;*/
    margin-left: 30px;
}
.img img{
    
        max-width: 100%;
        
      
      
    height: 100%;

}

.pic{
    position: absolute;
left:55%;
top: 20%;
width: 50%;
height: 50%;
border: 1px solid black;
border-radius: 10px;
margin-left: -30px;
z-index: 0.2;
box-shadow: ;
overflow-y: scroll;
background-color: black;
}

.pic::-webkit-scrollbar {
    width: 12px;
    
  }
  
  .pic::-webkit-scrollbar-track {
    background-color: #0f0f0f;
  }
  
  .pic::-webkit-scrollbar-thumb {
    background-color:rgba(255, 0, 0, 0.508);
    border-radius: 10px;
  }






.pic p{
    padding-top: 20px;
    padding: 5px;
    padding-left: 20px;
    font-family: 'Kaushan Script', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
color: aliceblue;
font-size: 20px;

    
}

.pic button{
    background-color: rgb(27, 208, 163);
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
    color: aliceblue;
    margin-left: 10px;
    margin-top: -5px;
    
}

.pic button:hover{
    color: black;

}

.ass{
    position: relative;
    top: 150px;
    border: 1px solid black;
    border:none;
    border-radius: 20px;
    background-color: rgba(69, 22, 226, 0.6);
    margin-bottom: 120px;
    margin-top: 80px;
    
    
}

.ass ul li {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 0;
    color: aliceblue;
    border-right: none;
    padding-right: 0;
  }
  
  @media (min-width: 768px) {
    .ass ul li {
      display: inline-block;
      padding-top:30px ;
      padding-bottom: 30px;
      margin-left: 150px;
      color: aliceblue;
      border-right: 1px solid wheat;
      padding-right: 10px;
      font-family: 'Kaushan Script', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-weight: 600;
text-decoration: none;
    }
  }
  

  .carousel-container {
    overflow: hidden;
    width: 400px; /* Set the desired carousel width */
    margin-top: 100px;
    
}

.carousel-container{
    position: absolute;
    left: 40%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;

}

.carousel-content {
    
    display: flex;
    transition: transform 0.8s ease;
    
}

.carousel-item {
    position: relative;
    min-width: 100%;
    margin-right: 100px;
    
}

.carousel-btn {
    margin: -5px;
    padding: 5px;
    cursor: pointer;
    position: absolute;
    left: 40%;
}

.carousel-caption h3{
position: relative;
margin-top: 100px;
}

.container{
    margin-top: 50px;
}

.nsbm h3{
    text-align: center;
    font-weight: bold;
}

.pg{
    border: 1px solid black;
    padding: 20px;
    color: aliceblue;
    background-color:rgba(24, 13, 13, 0.6);
    border: none;
    border-radius: 20px;
   
}


.pg a{
    color: rgb(1, 1, 34);
    font-weight: 800;
}
.pg  a:hover{
    font-weight: bold;
    color: rgb(195, 195, 205);
}

.fin img{
    width: 100%;
}
